.main-container {
    min-width: 375px;
}

h3 {
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    color: #090;
    font-size: 32px;
    margin-bottom: 25px;
}

@media (max-width: 767px) {
    h3 {
        margin-top: 20px;
    }
}

p {
    font-family: 'Lato', sans-serif;
    font-style: italic;
    color: #333;
    font-size: 18px;
}


section {
    padding: 50px; 
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 767px) {
    section {
        padding: 15px;
    }
}

header.type-photo {
    padding: 0;
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    height: 100vh;
    min-height: 600px;
    position: relative;
    background-image: url('../images/photo-desktop.jpg');
}


.main-picture-ads {
    color: #333;
    /*-ms-border-radius: 50%;
    border-radius: 50%;*/
    width: 480px;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    background-color: #fff;
    -ms-opacity: 0.9;
    opacity: 0.9;
    text-align: center;
    font-size: 8px; /* base font size */
}

@media (max-width: 480px) {
    .main-picture-ads {
        width: 100%;
        font-size: 6px;
    }
}

    .main-picture-ads .brand-name {
        padding-top: 170px;
    }

    .main-picture-ads .text-md {
        font-size: 2.5em;
        margin-top: 20px;
        font-family: 'Playfair Display SC', serif;
    }

        .main-picture-ads .text-md span {
            font-size: 1.5em;
            font-family: 'Roboto', sans-serif;
            font-style: italic;
        }

    .main-picture-ads .text-lg {
        font-size: 4em;
        margin-top: 20px;
        font-family: 'Playfair Display SC', serif;
    }

    .main-picture-ads .enquire-now {
        font-size: 2.5em;
        margin-top: 80px;
	font-weight: bold;
        display: inline-block;
        font-family: 'Playfair Display SC', serif;
        background-color: #ffe512;
        border: 2px solid #333;
        padding: 5px 50px;
        color: #333;
    }

.main-picture-ads .text-lg:last-child {
    margin-top: 0;
}


.main-picture-menu {
    position: absolute;
    bottom: 50px;
    left: 0;
    right: 0;
    margin: 0 10px;

}

.main-picture-menu__item {
    width: 50%;
    padding: 5px;
}

.main-picture-menu {
    display: none;
}

@media (min-width: 961px) {
    .main-picture-menu {
        display: flex;
        margin: 0 50px;
    }

    .main-picture-menu__item {
        padding: 0;
        width: auto;
    }
}

.main-picture-menu .main-picture-menu__item a {
    position: relative;
    display: inline-block;

}

    .main-picture-menu .main-picture-menu__item span {
        background-color: #fff; 
        -ms-opacity: 0.5;
        opacity: 0.5;
        position: absolute;
        left: 30px;
        top: 30px;
        right: 30px;
        bottom: 30px;
        font-family: 'Playfair Display SC', serif;
        font-weight: bold;
        font-size: 24px;
        color: #000;
        text-align: center;
    }


a.anchor {
    display: block;
    position: relative;
    top: -120px; /*to fix header height*/
    visibility: hidden;
}

.navbar-light .navbar-toggler {
    background-color: #fff;
}

.navbar-dark .navbar-brand {
    color: #009900!important;
}

.brand-name {
    color: #009900;
    display: block;
    font-family: 'Playfair Display SC', serif;
    font-size: 5em;
    font-weight: bold;
}


.main-navbar {
    font-family: 'Playfair Display SC', serif;
    font-size: 18px;
    background-color: #333;
    color: #fff;
    z-index: 10 !important; /* opera fix */
    padding: 8px 50px;
}

@media (max-width: 992px) {
    .main-navbar {
        padding: 8px 15px;
    }
}

.main-navbar .nav {
    width: 100%;
}


.navbar-dark .navbar-nav .nav-link {
    color: #fff;
}

.main-navbar > a:hover {
    text-decoration: none;
}

        .main-navbar .brand-name {
            display: block;
            text-align: right;
            padding: 0;
            line-height: 0.9em;
            margin: 10px 45px 10px 0;
            font-size:1.8em;
        }

    @media (max-width: 767px) {
        .main-navbar .brand-name {
            margin-left: 0;
            font-size:1.5em;
        }
    }

    .main-navbar .nav-pills .nav-link.active,
    .main-navbar .nav-link {
        color: #fff;
        background: none;
        border: 2px solid transparent;
    }

    .main-navbar .nav-link.active {
        border: 2px solid #ffe512;
    }

.sticky-wrapper {
    z-index: 10;
}

.img-responsive {
    width: 100%;
}

.location-logos img {
    margin: 5px 20px;
}

.google-map {
    box-sizing: content-box;
    width: 100%;
    height: 515px;
    background-color: #ccc;
    margin: 0 15px;
}

.img-team {
    margin-bottom: 30px;
}

.contact-info {
    margin-top: 20px;
}

.contact-block {
    margin-left: 50px;
    margin-top: 20px;
    color: #333;
}
.contact-heading {
    margin-left: 40px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-style: italic;
    position: relative;
    top:-30px;
}

.contact-name {
    font-family: 'Playfair Display SC', serif;
    font-size: 22px;
}

.contact-job {
    font-family: 'Playfair Display SC', serif;
    font-size: 14px;
    margin-bottom: 20px;
}

.contact-email, contact-phone {
    font-family: 'Lato', sans-serif;
    font-style: italic;
    font-size: 16px;
}

.contact-img-logo {
    position: absolute;
    width: 70px;
    z-index: 1;
    left: -35px;
    top: -50px;
}

.contact-block p {
    font-family: 'Lato', sans-serif;
    font-style: italic;
    font-size: 16px;
}

footer {
    min-height: 175px;
    font-family: 'Domine', serif;
    color: #fff;
    font-size: 18px;
    padding: 0 100px;
    background-color: #333;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

@media (max-width: 767px) {
    footer {
        padding: 0 10px;
    }
}


/*@media (max-width: 480px) {
    .form-line {
        padding-left: 0;
        padding-right: 0;
    }
}*/

.floor-plans {
	text-align: center;
}

.floor-plans .img-responsive {
	padding: 3em;
	max-width: 320px;
}