.main-container {
    min-width: 375px;
}

h3 {
    font-family: 'Dancing Script', serif;
    color: #cc0033;
    font-size: 44px;
    margin-bottom: 25px;
}

@media (max-width: 767px) {
    h3 {
        margin-top: 20px;
    }
}

p {
    font-family: 'Domine', serif;
    color: #333;
    font-size: 18px;
}


section {
    padding: 50px; 
}

@media (max-width: 767px) {
    section {
        padding: 15px;
    }
}

section.type-photo {
    padding: 0;
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    height: 100vh;
    min-height: 600px;
    position: relative;
}


section.type-photo {
    background-image: url('../images/photo-desktop.jpg');
}


.main-picture-ads {
    color: #333;
    -ms-border-radius: 50%;
    border-radius: 50%;
    width: 340px;
    height: 340px;
    position: absolute;
    top: 100px;
    right: 0;
    left: 0;
    margin: 0 auto;
    background-color: #fff;
    -ms-opacity: 0.9;
    opacity: 0.9;
    text-align: center;
    font-size: 8px; /* base font size */
}

    .main-picture-ads .brand-name {
        color: #CC0033;
        padding-top: 60px;
    }

.main-picture-ads .text-md {
    font-size: 2em;
    margin-top: 20px;
}

.main-picture-ads .text-lg {
    font-size: 2.6em;
    margin-top: 20px;
}

.main-picture-ads .text-lg:last-child {
    margin-top: 0;
}

@media (min-width: 768px) {
    .main-picture-ads {
        width: 400px;
        height: 400px;
        position: absolute;
        top: 130px;
        left: auto;
        right: 130px;
        font-size: 10px;
    }
    
    .brand-name {
        font-size: 50px;
    }

}

.main-picture-menu {
    position: absolute;
    bottom: 50px;
    left: 0;
    right: 0;
    margin: 0 10px;

}

.main-picture-menu__item {
    width: 50%;
    padding: 5px;
}

.main-picture-menu {
    display: none;
}

@media (min-width: 961px) {
    .main-picture-menu {
        display: flex;
        margin: 0 50px;
    }

    .main-picture-menu__item {
        padding: 0;
        width: auto;
    }
}

.main-picture-menu .main-picture-menu__item a {
    position: relative;
    display: inline-block;

}

    .main-picture-menu .main-picture-menu__item span {
        background-color: #fff; 
        -ms-opacity: 0.5;
        opacity: 0.5;
        position: absolute;
        left: 30px;
        top: 30px;
        right: 30px;
        bottom: 30px;
        font-family: 'Playfair Display SC', serif;
        font-weight: bold;
        font-size: 24px;
        color: #000;
        text-align: center;
    }


a.anchor {
    display: block;
    position: relative;
    top: -120px; /*to fix header height*/
    visibility: hidden;
}

.navbar-light .navbar-toggler {
    background-color: #fff;
}

.brand-name {
    display: block;
    font-family: 'Dancing Script', serif;
    font-size: 40px;
    font-weight: bold;
}


.main-navbar {
    font-family: 'Playfair Display SC', serif;
    font-size: 18px;
    background-color: #333;
    color: #fff;
    z-index: 10 !important; /* opera fix */
    padding: 8px 50px;
}

@media (max-width: 992px) {
    .main-navbar {
        padding: 8px 15px;
    }
}

.main-navbar .nav {
    width: 100%;
}


.main-navbar > a:hover {
    text-decoration:none;
}

        .main-navbar .brand-name {
            display: block;
            color: #fff;
            text-align: right;
            padding: 0;
            line-height: 0.9em;
            margin: 10px 45px 10px 0;
        }

    @media (max-width: 767px) {
        .main-navbar .brand-name {
            margin-left: 0;
        }
    }

    .main-navbar .nav-pills .nav-link.active,
    .main-navbar .nav-link {
        color: #fff;
        background: none;
        border: 2px solid transparent;
    }

    .main-navbar .nav-link.active {
        border: 2px solid #CC0033;
    }

.sticky-wrapper {
    z-index: 10;
}

.img-responsive {
    width: 100%;
}

.location-logos img {
    margin: 5px 20px;
}

.google-map {
    box-sizing: content-box;
    width: 100%;
    height: 515px;
    background-color: #ccc;
    margin: 0 15px;
}

.img-team {
    margin-bottom: 30px;
}

.contant-info {
    margin-top: 20px;
    padding: 5%;
}

footer {
    min-height: 175px;
    font-family: 'Domine', serif;
    color: #fff;
    font-size: 18px;
    padding: 0 100px;
    background-color: #333;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

@media (max-width: 767px) {
    footer {
        padding: 0 10px;
    }
}


/*@media (max-width: 480px) {
    .form-line {
        padding-left: 0;
        padding-right: 0;
    }
}*/